.AppWhosPlaying {
    text-align: center;
    font-size: larger;
    font-weight: 700;
    margin: 20px 0;
}

.AccountSelectionContainer {
    width: 100%;
    flex: 1;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.NoAccountCreateOne {
    text-align: center;
    font-size: 14px;
    margin: 25px 0;
}

.NoAccountCreateOne span {
    color: var(--color-text-primary);
}

.NoAccountCreateOne span:hover {
    cursor: pointer;
    color: var(--color-text-primary-hover);
}
