.accountRowContainer {
    background-color: var(--color-surface);
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    cursor: pointer;
    transition: 300ms;
}

.accountRowContainer:hover {
    scale: 1.01;
}

.accountRowContainer div:nth-child(1) {
    flex: 1;
}

.accountRowContainer div:nth-child(2) {
    flex: 2;
}

.accountInfoContainer {
    display: flex;
    flex-direction: column;
}

.accountInfoContainer div:nth-child(1) {
    font-weight: 700;
    font-size: 18px;
    padding: 3px;
}

.accountInfoContainer div {
    text-align: center;
    flex: 1;
}

.accountPlaytimeInfo {
    display: flex;
}

.accountPlaytimeInfo p {
    text-align: center;
    flex: 1;
}
