.headerContainer {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    max-width: 700px;
}

.LogoContainer {
    flex: 1;
}

.LogoContainer p {
    display: inline-block;
    padding: 20px 50px;
    color: var(--color-text-primary);
    font-size: large;
    font-weight: 700;
}

.LogsContainer p {
    display: inline-block;
    padding: 20px 20px;
    color: var(--color-text-primary);
    font-size: large;
    font-weight: 400;
}

.LogsContainer p:hover,
.HoverableLogo p:hover {
    cursor: pointer;
    background-color: var(--color-bg-hover);
    color: var(--color-text-primary-hover);
}
